.blogContainer{
    padding: 40px 0px;
}
.blogContainer .blogBox{
    /* width: 300px; */
    background: #FFFFFF;
    border: 0;
    border-radius: 30px;
}
.blogContainer .moreBlogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.moreBlogs a{
    text-decoration: none;
}
.moreBlogs .allBlogsBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    width: 200px;
    transition: all 0.7s ease-in-out;
}
.moreBlogs .allBlogsBtn:hover i{
    color: orangered;
    transform: translate(10px);
}
.blogBox{
    border: 0;
    border-radius: 5px;
    height: 400px;
    transition: all 0.3s ease-in-out;
}
.blogBox .blogBoxContent{
    text-align: left;
    padding: 40px;
}
.blogBoxContent a{
    text-decoration: none;
    color: #000000;
}
.blogBox img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blogBox .blogBoxContent p{
    color: rgba(0, 0, 0, 0.644);
    
}
.blogBox .blogBoxContent .blogTitle{
    display: flex;
    justify-content: space-between;
}

.blogBox:hover .blogBoxContent span{
    color: orangered;
}