.welcome_to_course_review {
  margin: 80px 0px;
  padding: 15px;
  border-radius: 20px;
  background-color: hsla(38, 17%, 88%, 0.486);
}
.course_review h2 {
  line-height: 2.8rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.course_review h2 span {
  background-color: #89aea3bb;
  font-weight: 600;
}
.course_review p {
  font-weight: 600;
}

/* @media screen and (max-width: 600px) {
  .welcome_to_course_review {
    padding: 0px;
  }
} */
