.img-container{
    position: relative;
    overflow: hidden;
}
.icon-container{
    position: absolute;
    bottom:5px;
    left: 20%;
    text-align: center;
    padding:2px;
    background-color:white;
    border-radius: 4px;
    margin-bottom: -80px;
    box-shadow: 0 0 3px rgb(0,0,0,0.2);
    transition:all 0.4s;
}
.price{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e83330c7;
    color:white;
    padding: 0 5px;
    border-radius: 3px 3px 3px 0;
}
.card:hover .icon-container{
       margin-bottom: 0px;
}
.selected{
    color: #e83330 !important;
}