.make_admin_wrapper {
  position: relative;
}
.admin_add {
  text-align: left;
}
.admin_add h2 {
  font-weight: bold;
}
.admin_add p {
  font-weight: 600;
}
.admin_add h2 span {
  color: rgb(255, 48, 48);
}

.welcome_to_make_admin {
  margin: 70px 0px;
  padding: 20px;
  background-color: rgba(48, 255, 48, 0.08);
  border-radius: 30px;
}

.make_admin input {
  width: 350px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(179, 178, 178, 0.24);
  border: none;
}

.make_admin input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .welcome_to_make_admin {
    padding: 0px;
  }
  .admin_add {
    margin-top: 20px;
    text-align: center;
  }
}
