.updateBlogContainer{
    padding: 80px 0px;
}
.UpdateFormPartOne{
    padding: 40px 0px;
    text-align: center;
}
.UpdateFormPartOne input{
    width: 55%;
    padding: 10px 5px;
    margin: 10px 0px;
    border: 0;
    color: white;
    background-color: #000000;
    border-radius: 10px;
}
.UpdateFormPartOne textarea{
    width: 60%;
    padding: 10px 5px;
    margin: 10px 0px;
    border: 0;
    color:white;
    background-color: #000000;
    border-radius: 10px;
    /* color: */
}

.ck-editor__editable {
    min-height: 300px;    
   
}