.mydiv{
    height:600px;
    background-size: 100% 100%;
    
    background-image: url(https://i.postimg.cc/G3gqVy7T/thirdimageslider.jpg); 
}


.mydiv1{
    height:600px;
    background-size: 100% 100%;
    
    background-image: url(https://i.postimg.cc/zGmk5V2X/firstimageimanslider.jpg); 
}

.mydiv2{
    height:600px;
    background-size: 100% 100%;
    
    background-image: url(https://i.postimg.cc/gj65gr2X/secondimageslider.jpg); 
}
.earnbtn{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}



.earnbtn:hover {
    color: #255784;
    background: #2196f3;
   
    transition-delay: 1s;
}


.earnbtn span {
    position: absolute;
    display: block;
}

.earnbtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



.earnbtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.earnbtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.earnbtn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.earnbtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.earnbtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.earnbtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.earnbtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}



@media only screen and (max-width: 600px) {
  .mydiv{
    height:300px;
    
  }

  .overlay{
    background-color: rgba(252, 250, 250, 0.541);
    height: 300px;
}

.mydiv1{
    height:300px;
    
}

.mydiv2{
    height:300px;

}

.earnbtn{
    background-color: white;
}
}
