.App {
  text-align: center;
}
.login {
  background-color: rgb(241, 242, 243);
  /* background-size: cover; */
  height: "100%";
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 221, 221); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
