.App {
  /* text-align: center; */
  background-color: #000000;
  color: #FFFFFF;
}
.login {
  background-color: rgb(241, 242, 243);
  /* background-size: cover; */
  height: "100%";
}
.footer-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.img {
  margin-left: -28px;
}
input {
  font-family: "Hind Siliguri", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 221, 221);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (max-width:600px) {
  .messengerChat{
  margin-right: 50px;
  }
}